<?xml version="1.0" encoding="utf-8"?>
<scheduler threadPoolSize="3">
	<jobstore type="Quartz.Simpl.RAMJobStore, Quartz" />

	<jobListeners>
		  <add type="CommunityServer.Components.CSJobListener, CommunityServer.Components" />
	</jobListeners>

<!-- chuacw 20 Aug 2020 see https://www.freeformatter.com/cron-expression-generator-quartz.html -->

	<jobs>
    <job schedule="0 */1 * * * ? *" type="CommunityServer.Search.Tasks.SearchIndexingContentHandlerTask, CommunityServer.Search">
        <settings>
            <add key="documentsPerRun" value="100" />
            <add key="handler-1" value="CommunityServer.Search.UserContentHandler, CommunityServer.Search" />
            <add key="handler-2" value="CommunityServer.Search.GroupContentHandler, CommunityServer.Search" />
            <add key="handler-3" value="CommunityServer.Search.ForumContentHandler, CommunityServer.Search" />
            <add key="handler-4" value="CommunityServer.Search.WeblogContentHandler, CommunityServer.Search" />
            <add key="handler-5" value="CommunityServer.Search.ContentFragmentPageContentHandler, CommunityServer.Search" />
            <add key="handler-6" value="CommunityServer.Search.MediaGalleryContentHandler, CommunityServer.Search" />
            <add key="handler-7" value="CommunityServer.Search.WikiContentHandler, CommunityServer.Search" />
            <add key="handler-8" value="CommunityServer.Search.WeblogPostContentHandler, CommunityServer.Search" />
            <add key="handler-9" value="CommunityServer.Search.MediaGalleryPostContentHandler, CommunityServer.Search" />
            <add key="handler-10" value="CommunityServer.Search.WikiPageContentHandler, CommunityServer.Search" />
            <add key="handler-11" value="CommunityServer.Search.ForumPostContentHandler, CommunityServer.Search" />
        </settings>
    </job>
    
     <job schedule="0 */3 * * * ? *" type = "CommunityServer.Blogs.Components.DeleteStaleSpamCommentsJob, CommunityServer.Blogs"   />
     <job schedule="0 */3 * * * ? *" type = "CommunityServer.Blogs.Components.GenerateWeblogYearMonthDayListJob, CommunityServer.Blogs"  />
     <job schedule="0 */3 * * * ? *" type = "CommunityServer.Blogs.Components.ModeratedFeedbackNotificationJob, CommunityServer.Blogs" /> 
     <job schedule="0 */2 * * * ? *" type = "CommunityServer.Blogs.Components.RecentContentJob, CommunityServer.Blogs" />
     <job schedule="0 */3 * * * ? *" type = "CommunityServer.Blogs.Components.RollerBlogUpdater, CommunityServer.Blogs" />
     <job schedule="0 53 16 ? * * *" type = "CommunityServer.Components.AnonymousUserJob, CommunityServer.Components" />
     <job schedule="0 */3 * * * ? *" type = "CommunityServer.Components.CalculateSectionTotalsJob, CommunityServer.Components" />
     <job schedule="0 53 16 ? * * *" type = "CommunityServer.Components.EventLogJob, CommunityServer.Components">
        <settings>
            <add key="days" value="7" /> <!-- Clean out event logs older than 7 days -->
        </settings> 
     </job>
     <job schedule="0 */2 * * * ? *"  type = "CommunityServer.Components.CalculateTagCountsJob, CommunityServer.Components" />
     <job schedule="0 0 0 ? * * *"    type = "CommunityServer.Components.MultipleFileUploadCleanupJob, CommunityServer.Components"  />
     <job schedule="0 */3 * * * ? *"  type = "CommunityServer.Components.PostAttachmentCleanupJob, CommunityServer.Components">
        <settings>
            <add key="expiresAfterHours" value="2" />
        </settings> 
     </job>
     <job schedule="0 53 16 ? * * *"  type = "CommunityServer.Components.ReferralsJob, CommunityServer.Components" />
     <job schedule="0 */3 * * * ? *"  type = "CommunityServer.Components.SiteStatisticsJob, CommunityServer.Components" />
     <job schedule="0 */2 * * * ? *"  type = "CommunityServer.Components.TagCleanupJob, CommunityServer.Components">
        <settings>
            <add key="applications" value="forum,Weblog,Gallery,ContentManagement,FileGallery,FeedReader,BlogRoller,Wiki,Newsletter,Games" />
        </settings>
     </job> 
     <job schedule="0 */3 * * * ? *"  type = "CommunityServer.Components.TemporaryStoreExpirationTask, CommunityServer.Components" />
     <job schedule="0 */3 * * * ? *"  type = "CommunityServer.Components.TemporaryUserTokenExpirationTask, CommunityServer.Components"  />
     <job schedule="0 */15 * * * ? *" type = "CommunityServer.Components.ThemeConfigurationPreviewCleanupJob, CommunityServer.Components">
        <settings>
            <add key="expiresAfterHours" value="2" />
        </settings> 
     </job>
     <job schedule="0 */3 * * * ? *"  type = "CommunityServer.Components.UserInvitationExpirationJob, CommunityServer.Components">
        <settings>
            <add key="expirationDays" value="30" />
        </settings> 
     </job>
     <job schedule="0 */3 * * * ? *"  type = "CommunityServer.Components.ViewsJob, CommunityServer.Components" />
     <job schedule="0 */1 * * * ? *"  type = "CommunityServer.MailRoom.Components.EmailJob, CommunityServer.MailGateway.MailRoom">
        <settings>
            <add key="failureInterval" value="1" />
            <add key="numberOfTries" value="10" />
        </settings> 
     </job>
     <job schedule="0 */1 * * * ? *"  type = "CommunityServer.MailRoom.Components.BulkEmailJob, CommunityServer.MailGateway.MailRoom">
        <settings>
            <add key="failureInterval" value="1" />
            <add key="numberOfTries" value="10" />
        </settings> 
     </job>
     
    <!-- Enable this task to enable background deletion of old activity messages.
                    expirationDays (int) = messages older than this number of days can be deleted
                    minUserMessages (int) = the minimum number of messages a user should retain. -->
     <job schedule="0 */3 * * * ? *" type = "CommunityServer.Messages.Tasks.MessageRemovalTask, CommunityServer.Messages">
        <settings>
            <add key="expirationDays" value="30" />
            <add key="minUserMessages" value="30" />
        </settings> 
     </job>

     <job schedule="0 0 3 ? * SUN,WED" type = "CommunityServer.Search.Solr.IndexOptimizationJob, CommunityServer.Search.Providers"  />
     <job schedule="0 */3 * * * ? *"   type = "CommunityServer.Wikis.Components.PageViewsJob, CommunityServer.Wikis" />
     <job schedule="0 * * */1 * ? *"   type = "Telligent.Search.Mapping.ContentHandlerTask, Telligent.Search.Mapping">
        <settings>
            <add key="documentsPerRun" value="1000" />
        </settings> 
     </job>
     

	</jobs>
</scheduler>
